<div class="page-header">
  <%= link_to new_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Signup
  <% end %>
</div>
<div class="page-header">
  <%= link_to Sessions(login_path), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Login
  <% end %>
</div>
