/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#imageLink {
  position: relative;
}

#imageLink a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 1;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}
#modalChoices {
  width: 50%;
  margin: 0 auto;
}

body {
  background-image: url('hdr-min.jpg');
  position: relative;
}

img {
  max-width: 100%;
  height: auto ;
}

@media only screen and (min-device-width: 400px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

#navbar-dropdown {
    padding-top: 9px;
}

.modal_form {
    padding: 2% 2% 2% 2%;
}
