<hr/>
<h3>Where are you doing this activity at?</h3><%= form_tag search_path(@state) do %>
  <%= select_tag :state, options_for_select(['Alabama',
        'Alaska',
        'Arizona',
        'Arkansas',
        'California',
        'Colorado',
        'Connecticut',
        'Delaware',
        'Florida',
        'Georgia',
        'Hawaii',
        'Idaho',
        'Illinois',
        'Indiana',
        'Iowa',
        'Kansas',
        'Kentucky',
        'Louisiana',
        'Maine',
        'Maryland',
        'Massachusetts',
        'Michigan',
        'Minnesota',
        'Mississippi',
        'Missouri',
        'Montana',
        'Nebraska',
        'Nevada',
        "New+Hampshire",
        "New+Jersey",
        "New+Mexico",
        "New+York",
        "North+Carolina",
        "North+Dakota",
        'Ohio',
        'Oklahoma',
        'Oregon',
        'Pennsylvania',
        "Rhode+Island",
        "South+Carolina",
        "South+Dakota",
        'Tennessee',
        'Texas',
        'Utah',
        'Vermont',
        'Virginia',
        'Washington',
        "West+Virginia",
        'Wisconsin',
        'Wyoming']) %>

  <%= submit_tag 'Submit' %>
<% end %>

